.DS_Store
*.swp
*.d
*.o
*.a
*.dSYM
*.so
*.so.*
*.exe
*.dll

qemu/config-all-devices.mak

i386-softmmu/
arm-softmmu/
aarch64-softmmu/
mips-softmmu/
mips64-softmmu/
mipsel-softmmu/
mips64el-softmmu/
sparc-softmmu/
sparc64-softmmu/
m68k-softmmu/

qapi-types.h
qapi-visit.h
x86_64-softmmu/
tags
qemu/config-host.ld
qemu/config.log
qemu/config.status
qemu/config-host.h
qemu/config-host.h-timestamp
qemu/config-host.mak
qemu/qapi-types.c
qemu/qapi-visit.c

sample_x86
sample_x86.exe
sample_x86.static
sample_arm
sample_arm.exe
sample_arm.static
sample_arm64
sample_arm64.exe
sample_arm64.static
sample_mips
sample_mips.exe
sample_mips.static
sample_sparc
sample_sparc.exe
sample_sparc.static
shellcode
shellcode.exe
shellcode.static
sample_m68k
sample_m68k.exe
sample_m68k.static
mem_exec
mem_exec.exe
mem_exec.static
mem_protect
mem_protect.exe
mem_protect.static
mem_unmap
mem_unmap.exe
mem_unmap.static
mem_apis
mem_apis.exe
mem_apis.static


libunicorn*.dll
libunicorn*.so
libunicorn*.dylib

unicorn.pc

unicorn.lib
unicorn.dll
unicorn_*.lib
unicorn_*.exp
unicorn_*.dll


docs/paper/*.dvi
docs/paper/*.ps
docs/paper/*.pdf
docs/paper/*.htm
docs/paper/*.log

*.tgz
*.zip
*.pyc
_*.txt
_*.diff
tmp/

bindings/python/build/
config.log

map_crash
sigill
sigill2
block_test
map_write
ro_mem_test
nr_mem_test
timeout_segfault
rep_movsb
mem_double_unmap
mips_kseg0_1
eflags_nosync
00opcode_uc_crash
eflags_noset
mem_map_large
invalid_read_in_cpu_tb_exec
invalid_write_in_cpu_tb_exec_x86_64
x86_16_segfault
mips_invalid_read_of_size_4_when_tracing
invalid_read_in_tb_flush_x86_64
sparc_jump_to_zero
mem_nofree
mips_delay_slot_code_hook
threaded_emu_start
emu_stop_in_hook_overrun
mips_branch_likely_issue

test_mem_map_ptr
test_mem_high
rw_hookstack
hook_extrainvoke
sysenter_hook_x86


#################
## Visual Studio
#################

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.opensdf
*.sdf
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
Win32/
build/
[Bb]in/
[Oo]bj/
packages/
