language: c
sudo: false
before_install:
        - export LD_LIBRARY_PATH=`pwd`/samples/:$LD_LIBRARY_PATH
        - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
        - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install glib; fi
        - git clone git://git.cryptomilk.org/projects/cmocka.git -b cmocka 1.0.1 && cmake cmocka
script:
        - ./make.sh
        - make test
compiler:
        - clang
        - gcc
os:
        - linux
        - osx
