language: c
sudo: false
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install cmocka crosstool-ng; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./install-cmocka-linux.sh; fi
script:
  - make && make -C bindings/go && make -C bindings/go test && make test
compiler:
  - clang
  - gcc
os:
  - linux
  - osx
matrix:
  include:
    - os: linux
      dist: trusty
      compiler: gcc
    - os: linux
      dist: trusty
      compiler: clang
    - os: osx
      script: brew install --HEAD unicorn && brew test unicorn
      compiler: gcc
    - os: osx
      script: brew install --HEAD unicorn && brew test unicorn
      compiler: clang
  allow_failures:
    - os: osx
      script: brew install --HEAD unicorn && brew test unicorn
addons:
  apt:
    packages:
    # mingw-w64 packages too old in precise
